header{
    PADDING: 5%;
    background-color: #DEDEDE;
    margin-bottom: 50px;
}

.header-menu-list{
    display: flex;
    flex-direction: column;
}

.page-content {
    padding: 0 5%;
    margin-bottom: 100px;
}






/* Article Page */ 

.category-list{
    display: flex;
    justify-content: space-around;
}



/* Admin */

.ck-content {
    min-height: 400px;
}

footer{
    PADDING: 5%;
    background-color: #DEDEDE;
}